.eselect_container {
	border: 1px solid #cacaca;
	border-radius: 5px;
	position: relative;
}

.eselect_container_input_text {
	cursor: pointer;
}

.eselect_input_query, .eselect_input_text {
	width: 100%;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 4px 7px;
}

.eselect_input_text {
	border: none;
	cursor: pointer;
}

.eselect_input_text:hover {
	box-shadow: 0 0 4px 0px rgba(255, 165, 0, 0.8) inset;
}

.eselect_img_arrow_down {
	width: 8px;
	position: absolute;
	right: 10px;
	top: 10px;
}

.eselect_container_suggest {
	display: none;
	float: left;
	border-left: 1px solid #cacaca;
	border-right: 1px solid #cacaca;
	border-bottom: 1px solid #cacaca;
	position: absolute;
	z-index: 15;
	background: white;
}

.eselect_input_query {
	border: 1px solid #e0e0e0;
}

.eselect_container_input_query {
	padding: 5px 5px;
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
}

.eselect_selected {
	color: white;
	background: blue;
}

.eselect_container_select_result {
	max-height: 200px;
	overflow: auto;
}

.eselect_container_select_result::-webkit-scrollbar {
    width: 5px;
}

.eselect_container_select_result::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.eselect_container_select_result::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
}

.eselect_result_row {
	font: 13px arial;
	padding: 3px 7px;
	cursor: default;
	text-align: left;
}

.eselect_result_row:hover {
	background: grey;
	color: white;
}

.eselect_checkbox_all, .eselect_checkbox {
	margin: 0 5px 0 0;
}