@media only screen 
and (max-width: 768px) {
	
	html, body {
		padding: 0;
		margin: 0;
		display: flex;
	}

	.container {
		flex: 1;
		display: flex;
		flex-direction: column;
	}
	
	.container_top_bar_back, .container_background_login {
		display: none;
	}
	
	.container_top_bar_back_mobile {
		position: fixed;
		background: rgba(255, 255, 255, 0.8);
		display: flex;
		width: 100%;
	}
	
	.logo_iklanapa {
		width: 30px;
		margin: 4px 0 0 0;
	}
	
	.logo_iklanapa_txt {
		width: 100px;
		margin-left: 4px;
		margin-top: 2px;
	}
	
	.container_top_bar_front {
		display: flex;
		flex-direction: row;
		width: 100%;
		background: '';
		flex: 1;
		margin: 0 15px;
		padding: 3px 0;
	}
	
	.container_top_nav_mobile {
		flex: 1;
		padding: 3px 5px;
	}
	
	.top_nav_right {
		text-align: right;
	}
	
	.btn_menu_mobile {
		padding: 9px 25px;
		border-radius: 22px;
		background: green;
		font: bold 15px arial;
		color: white;
	}
	
	.icon_menu_mobile {
		width: 16px;
	}
	
	.menu_btn_txt {
		padding: 0px 0 0 3px;
	}
	
	/*** Side bar ***/
	.container_mobile_side_bar_menu_background {
		background: rgba(255, 255, 255, 0.7);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: right;
		display: none;
	}
	
	.container_side_bar_left {
		height: 100%;
		display: inline-block;
	}
	
	.container_mobile_side_bar_menu {
		display: none;
		background: #ff6666;
		width: 200px;
		height: 100%;
		padding: 20px 0 0 0;
	}
	
	.row_side_bar_menu {
		padding: 0 10px;
	}
	
	.side_bar_menu {
		color: white;
		font: bold 14px arial;
		border-bottom: 1px solid white;
		text-align: left;
		padding: 14px 14px;
	}

	.container_side_bar_left a {
		text-decoration: none;
	}

}