.table_profile {
	font: 13px arial;
}

.table_profile td {
	padding: 5px 10px;
}

.container_company_logo {
	padding: 3px;
	border: 1px solid #cacaca;
	width: 150px;
	height: 150px;
	vertical-align: middle;
	display: table-cell;
}

.company_logo {
	width: 150px;
}